# Environment Variables
VITE_API_BASE_URL=http://localhost:5000
VITE_LIVEKIT_URL="wss://cf4-2vdpeh31.livekit.cloud"
VITE_LIVEKIT_API_KEY="APIJYRREpMQiJyE"
VITE_LIVEKIT_API_SECRET="MP4u3OcXlYdqnDfgneZKltfkxi8ne7A6gsnNGnlmnCeB"


# Hotel Configuration
VITE_HOTEL_NAME="The Pink Pearl Hotel"
VITE_HOTEL_TIMEZONE="Asia/Kolkata"